# https://dart.dev/guides/libraries/private-files
# Created by https://www.toptal.com/developers/gitignore/api/flutter,android,intellij+all,visualstudiocode

### Android ###
# Built-in ignores for Android
**/android/**/generated/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/.gradle/
**/android/local.properties
**/android/app/local.properties
**/android/build/
**/android/app/build/

### Flutter ###
# Dependency directories
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

### Flutter Patch ###
# Flutter focus patches
.flutter-patches

### IntelliJ ###
.idea/
*.iml
*.iws
*.ipr
out/

### VisualStudioCode ###
.vscode/
!.vscode/extensions.json
*.code-workspace

### MacOS ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V1
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
Desktop.ini

# Recycle Bin used on FAT drives
$RECYCLE.BIN/

# Windows Installer temporary files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### iOS ###
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flash/

### Web ###
.env
.env.*
lib/generated_plugin_registrant.dart

### Others ###
*.log
doc/api/
coverage/
